[pull]
	rebase = true
[user]
	name = Moritz Schäfer
	email = mail@moritzs.de
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
  ciam = commit -am
	st = status
  fl = flow
  flfe = flow feature
  flst = flow feature start
  flfi = flow feature finish
	d = difftool
[diff]
	mnemonicprefix = true
	tool = vimdiff
[merge]
	stat = true
	tool = diffconflicts
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = /home/moritz/.gitignore_global
[difftool]
	prompt = false
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
